name: journal
description: Personal daily tracker
publish_to: 'none' # Remove this line if you wish to publish to pub.dev
version: 1.0.0+1

environment:
  sdk: ">=2.16.1 <3.0.0"

dependencies:
  flutter:
    sdk: flutter
  google_fonts: ^4.0.4
  get: ^4.6.5
  get_storage: ^2.1.1
  sqflite: ^2.2.2
  google_nav_bar: ^5.0.6
  fl_chart: ^0.62.0


dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^1.0.0


flutter:
  uses-material-design: true
